# Operations on DataFrames

In [1]:
import pandas as pd

In [3]:
df = pd.DataFrame({'col1':[1,2,3,4,5],'UserType':['User','Guest','Guest','User','User'],'col3':['abc','def','ghi','xyz','sfz']})
df.head()

   col1 UserType col3
0     1     User  abc
1     2    Guest  def
2     3    Guest  ghi
3     4     User  xyz
4     5     User  sfz

#### Unique Values

In [4]:
df['UserType']

0     User
1    Guest
2    Guest
3     User
4     User
Name: UserType, dtype: object

In [5]:
df['UserType'].unique()

array(['User', 'Guest'], dtype=object)

In [6]:
len (df['UserType'].unique())

2

In [7]:
df['UserType'].nunique()

2

In [8]:
df['UserType'].value_counts()

User     3
Guest    2
Name: UserType, dtype: int64

#### Selecting Data

In [9]:
# go to the second video in pandas , "pandas selecting, indexing...."

#### Applying Functions

In [10]:
def times3 (x):
    return x*3

In [11]:
df

   col1 UserType col3
0     1     User  abc
1     2    Guest  def
2     3    Guest  ghi
3     4     User  xyz
4     5     User  sfz

In [12]:
df['col1'].apply(times3)

0     3
1     6
2     9
3    12
4    15
Name: col1, dtype: int64

In [14]:
df

   col1 UserType col3
0     1     User  abc
1     2    Guest  def
2     3    Guest  ghi
3     4     User  xyz
4     5     User  sfz

In [15]:
df['col1'].apply(lambda x:x*3)

0     3
1     6
2     9
3    12
4    15
Name: col1, dtype: int64

In [17]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
4    3
Name: col3, dtype: int64

#### Removing Column

In [18]:
# remove permenantly
del df['col1']

In [19]:
df

  UserType col3
0     User  abc
1    Guest  def
2    Guest  ghi
3     User  xyz
4     User  sfz

#### Get "Column Names" and "Index"

In [20]:
df.columns

Index(['UserType', 'col3'], dtype='object')

In [21]:
df.index

RangeIndex(start=0, stop=5, step=1)

#### Sorting by Columns

In [22]:
df.sort_values(by='UserType')

  UserType col3
1    Guest  def
2    Guest  ghi
0     User  abc
3     User  xyz
4     User  sfz

In [23]:
df.sort_values(by='col3') # ,inplace=True

  UserType col3
0     User  abc
1    Guest  def
2    Guest  ghi
4     User  sfz
3     User  xyz

In [24]:
df

  UserType col3
0     User  abc
1    Guest  def
2    Guest  ghi
3     User  xyz
4     User  sfz

#### Check for Null Values

In [25]:
df.isna()

   UserType   col3
0     False  False
1     False  False
2     False  False
3     False  False
4     False  False

In [26]:
df.shape

(5, 2)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   UserType  5 non-null      object
 1   col3      5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes